{{ define "header" }} 
{{ partial "header.html" . }} 
{{ end }}

{{ define "section_one" }}
                <header class="special container">
                    {{- with .Params.section_one }}
                    <span class="icon {{ .icon }}"></span>
                    <h2>{{ .title | safeHTML }}</h2>
                    {{ .content | safeHTML }}
                    {{ end }}
                </header>
{{ end }}


{{ define "section_two" }}
<section class="wrapper style4 container">

    <!-- Content -->
        <div class="content">
            <section>
                <a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
                <header>
                    <h3>{{ .Params.Title }}</h3>
                </header>
                <p>{{ .Content }}</p>
            </section>
        </div>

</section>
{{ end }}


{{ define "main" }}  

{{ end }}